@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Barrio');

.logo {
  color: #8383ff !important;
  font-family: 'Barrio';
  font-size: 20pt;
}

.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('zig_zag_wool.png');
}

.navbar-inverse a.navbar-brand {
  color: white;
}
